
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Slab:wght@300&display=swap');

:root {
    --blue: #0000ff;
  }
  

*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
    transition: .5s linear;
    color: white;
}

html{
    scroll-behavior: smooth;
    background-color: #363537;
}

/* header */

header{
    background-color: #E3B505;
    font-weight: bolder;
    padding: .8rem 8%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}


#logo{
    font-size: 22px;
}
#logo span{
    color: var(--blue);
}

a{
    text-decoration: none;
}
nav a{
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    color: white;
    margin-left: 10px;
}
nav a:hover{
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    color: var(--blue);
    margin-left: 10px;
    margin-right: 10px;
}

section{
    margin: 100px 40px;
}

/* home */

#home .content{
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    min-width: 70rem;
}
#home h3{
    font-size: 4.5rem;
    letter-spacing: 0.1em;
}
#home .content span{
    color: var(--blue);
}
#home .content img{
    min-width: 50rem;
    margin: auto;
    border-radius: 2rem;
    border: #2C302E .3rem solid;
}

#slideshow-container {
    margin-top: 45px;
    max-width: 100%;    
}

.slideshow-image {
    width: 100%;
    height: auto;
}



/* service */

#service{
    text-align: center;
}
#service .title{
    font-size: 3rem;
    letter-spacing: 0.1em;
    margin: 5rem;
}
#service h3 span{
    color: var(--blue);
}
#service .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    align-items: center;
}
#service .grid-item{
    height: 18rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#service .grid-item i{
    font-size: 2rem;
    color: #e7edec;
}
#service .grid-item h3{
    font-size: 1.6rem;
    color: #FFFD98;
}
#service .grid-item p{
    font-size: 16px;
    font-weight: lighter;
    padding: 0px 28px;
}


/* about */

#about h3{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.1em;
    margin: 5rem;
}
#about h3 span{
    color: var(--blue);
}

#about .content {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

#about .content div {
    width: 50%;
    /* height: 25rem; */
    /* border: 2px solid blanchedalmond; */
}
#about .content h3 {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
}
#about .content .about-content {
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
#about .content .about-content a{
    padding: 10px;
    font-size: 1.1rem;
    background-color: gray;
    border-radius: 15px;
}
#about .content .about-content a:hover{
    font-size: 1.3rem;
    background-color: var(--blue);
}

#about .content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3rem;
}

/* gallery */

#gallery{
    text-align: center;
}
#gallery h3{
    font-size: 3rem;
    letter-spacing: 0.1em;
    margin: 5rem;
}
#gallery h3 span{
    color: var(--blue);
}
#gallery .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    align-items: center;
}
#gallery img{
    max-width: 100%;
    border: #171616 .5rem solid;
    border-radius: 2.2rem;
}

/*price*/
#price{
    text-align: center;
}
#price h3{
    font-size: 3rem;
    letter-spacing: 0.1em;
    margin: 5rem;
}
#price h3 span{
    color: var(--blue);
}
#price .price-row{
    display: flex;
    justify-content: space-evenly;
}
#price .price-colum{
    height: 25rem;
    width: 20%;
    padding: 2rem 0;
    background-color: #515154;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2.5rem;
}
#price h2{
    min-width: 100%;
    background: var(--blue);
    padding: .5rem 0;
    font-size: 2rem;
}
#price p{
    font-size: 3rem;
}
#price li{
    margin: .8rem;
    list-style-type: none;
}
#price i{
    margin-right: .5rem;
    color: var(--blue);
    font-size: 1.2rem;
    font-weight: bold;
}
#price  a{
    padding: 10px;
    max-width: fit-content;
    font-size: 1.1rem;
    background-color: gray;
    border-radius: 15px;
}
#price a:hover{
    font-size: 1.3rem;
    background-color: var(--blue);
}

/*review*/

#review{
    text-align: center;
}
#review h3{
    font-size: 3rem;
    letter-spacing: 0.1em;
    margin: 5rem;
}
#review h3 span{
    color: var(--blue);
}
#review .client{
    display: flex;
    margin: 4rem 0;
}
#review .client img{
    width: 5rem;
    border-radius: 3rem;
    margin-right: 2rem;
}
#review .client .info{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;
}
#review .client .info h4{
    font-size: 1.8rem;
}
#review .client .info h6{
    font-size: .9rem;
}
#review p{
    font-size: .9rem;
    padding-right:6rem;
}


/* contact */

#contact{
    text-align: center;
}
#contact h3{
    font-size: 3rem;
    letter-spacing: 0.1em;
    margin: 5rem;
}
#contact h3 span{
    color: var(--blue);
}
#contact form{
    max-width: 80rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}
#contact form div{
    display: flex;
    margin: .5rem;
}
#contact form div input , textarea{
    width: 100%;
    padding: .7rem;
    border: #363537 solid 2px;
    border-radius: 1.2rem;
    background-color: dimgray;
}
#contact  a{
    padding: 10px;
    font-size: 1.1rem;
    background-color: gray;
    border-radius: 15px;
}
#contact a:hover{
    font-size: 1.3rem;
    background-color: var(--blue);
}

/* footer */

footer{
    background-color: #171616;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}
footer p{
    font-size: 14px;
    padding: .4rem;
}
footer p span{
    color: var(--blue);
    font-weight: bold;
}
.row{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}
.colum{
    display: flex;
    flex-direction: column;
}
.colum:hover{
    transform: scale(1.2);
}
.colum a{
    margin: 0.5rem;
}
.colum a:hover{
    font-size: 1.3rem;
}

/* Icons */

.fa-solid{
    color: var(--blue);
}


/* slide to change main color */

.button-color-slider{
    position: fixed;
    top: 200px;
    right: 5px;
}
.fa-gear{
    color: #000;
    font-size: 20px;
    margin: 5px;
}
.color-slider {
    display: none;
    position: fixed;
    top: 80px;
    right: 20px;
    transform: translateX(-50%);
    background-color: #5d5353;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.color-option:hover {
    transform: scale(1.2);
}



/* Media query for screens up to 768px width */
@media only screen and (max-width: 768px) {
    header {
        padding: .8rem 4%;
    }

    #home .content {
        min-width: unset;
        padding: 1rem;
    }

    #home h3 {
        font-size: 2.5rem;
    }

    #home .content img {
        width: 100%;
        max-width: 100%;
        border-radius: 1rem;
    }

    #service .grid-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #service .grid-item {
        height: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    #about .content {
        flex-direction: column;
    }

    #about .content div {
        width: 100%;
        margin-top: 1rem;
    }

    #about .content h3 {
        font-size: 1.8rem;
    }

    #about .content .about-content a {
        font-size: 1rem;
        padding: 8px;
    }

    #gallery .grid-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #gallery img {
        border: #363537 .3rem solid;
        border-radius: 1rem;
    }

    #price .price-row {
        flex-direction: column;
        align-items: center;
    }

    #price .price-colum {
        width: 80%;
    }

    #price h2 {
        font-size: 1.5rem;
    }

    #price p {
        font-size: 2rem;
    }

    #price li {
        font-size: 1.2rem;
    }

    #price i {
        font-size: 1rem;
    }

    #review .client {
        flex-direction: column;
    }

    #review .client img {
        margin-right: 0;
        margin-bottom: 1rem;
        border-radius: 50%;
    }

    #review .client .info {
        text-align: center;
    }

    #review .client .info h4 {
        font-size: 1.5rem;
    }

    #review .client .info h6 {
        font-size: 0.8rem;
    }

    #review p {
        padding-right: 0;
    }

    #contact form {
        max-width: 100%;
    }

    #contact form div {
        flex-direction: column;
        margin: 1rem 0;
    }

    #contact form div input,
    textarea {
        width: 100%;
    }

    h3{
        font-size: 10px;
    }

    #slideshow-container{
        height: 20%;
        width: 100%;
        overflow: hidden;
    }
    .slideshow-image{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
